<div class="container">
    <form method="post" action="/feedbacks" >
        <div class="input-form-border">
            <input name="email" type="email" placeholder="Введіть свій email">
        </div>
        <br>
        <div class="input-form-border">
            <textarea name="text" placeholder="Введіть ваші відгуки або пропозиції" rows="10"></textarea>
        </div>
        <br>
        <input type="submit" value="Відправити" class="button">
    </form>
</div>