<header class="navbar navbar-inverse">
    <div class="navbar-inner">
        <div class="container">
            <img src="/images/header.jpg" width="1060" height="250"/>
            <img class="img-title" src="/images/title.png"/>
            <div class="menu">
                <a href="/" class="menu-item">Головна</a>
                <a href="/museums" class="menu-item">Музеї</a>
                <a href="/cafes" class="menu-item">Кафе</a>
                <a href="/places" class="menu-item">Цікаві місця</a>
                <a href="/feedbacks" class="menu-item">Коментарі</a>
            </div>
        </div>
    </div>
</header>
