<img class="top-img" src="/images/uzhgorod.png"/>
<p>Ужгород – затишне містечко європейського типу. Останнім часом все більше і більше приваблює туристів, і не дарма.
Місто має багату історію, чудові набережні, кафе із найкращою кавою в Україні, маленькі вулички, які так і ваблять по них пройтися.
    У цьому місці можна відпочити від безкінечного руху, сповна насолодитися спокоєм і набратися сил для подальшої роботи, тому якщо ви стомилися від мегаполісу, то вам сюди.</p>
<img src="/images/мапа.jpg" width="850" height="700">

