<!DOCTYPE html>
<html>
<head>
    <title><%= title %> | Це варто відвідати в Ужгороді!</title>
    <link href="/stylesheets/style.css" rel="stylesheet">
</head>
<body>
    <div class="wrapper">
        <% include header.ejs %>
        <div class="body-lu">
            <div class="body-rd">
                <%- body %>
            </div>
        </div>
    </div>
</body>
</html>